/* App.js */

.app-container {
    background-color: #d3e0ea;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:  radial-gradient(#444CF7 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#444CF7 0.9500000000000001px, #E5E5F7 0.9500000000000001px);
    background-size: 38px 38px;
    background-position: 0 0,19px 19px;
}

.app {
    padding: 20px 20px 0 20px;
    max-width: 720px;
    width: 100%;
    background-color: #c0e218;
    overflow: scroll;
    border-radius: .25rem;
    min-width: 375px;
    -webkit-box-shadow: 0px 10px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 15px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 15px -8px rgba(0,0,0,0.75);
}

.fill-window {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
}

/* Header */

.header {
    text-align: center;

}

.header > h1 {
    color: #111d5e; 
    font-family: 'Gloria Hallelujah', cursive;
    margin-bottom: 20px;
}

/* Text Field */

.text-field-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#text-input {
    background-color: white;
    padding: 10px 10px;
    width: 50%;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

#text-field-btn {
    background-color: #111d5e;
    padding: 10px 15px;
    color: white;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

/* Todo List Items */

.item-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.item-left-container {
    width: 100%;
}

.item-right-container {
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
}


/* Attachment */

.attachment-container > a {
    padding-right: 10px;
}

#cross-mark {
    font-size: medium;
    cursor: pointer;
}

/* Filter Menu */

.filter-menu {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: auto;
    padding: 10px 0;
}

.filter-menu > li {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
}

.filter-menu > li:hover {
    color: #f37121;
}

.selected {
    color: #f37121 !important;
}


/* Accordion */

.flagged {
    background: #c70039;
    color: white;
}

.strikethrough {
    text-decoration:line-through;
}

.card {
    margin: 10px;
    border-radius: .25rem !important;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
    background: transparent !important;
}

.card-header {
    display: flex;
    justify-content: space-between;
    font-family: 'Gloria Hallelujah', cursive;
}

.item-icons-container {
    display: flex;
    width: 10%;
    justify-content: space-between;
}

.item-icons-container > div {
    cursor: pointer;
}

/* Details */

.data-container {
    min-height: 370px;
}

.item-detail-header {
    display: flex;
}

.item-detail-container {
    margin-bottom: 10px;
}

.item-detail-container  p {
    font-family: 'Gloria Hallelujah', cursive;
    word-break: break-word;
}

.details-h2 {
    font-size: 16px !important;
    font-weight: bold;
}

#edit-icon-container {
    position: relative;
}

#edit-icon {
    position: absolute;
    right: -30px;
    cursor: pointer;
}


textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  background: white;
}

input[type="submit"] {
  border: none;
  background: #111d5e;
  padding: 8px 17px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
}


/* Todo List Due Date */

.due-date-container {
    font-family: 'Gloria Hallelujah', cursive;
}

.item-due-date-header {
    display: flex;
}



/* File Attachment */

.attachment-container {
    display: flex;
    font-family: 'Gloria Hallelujah', cursive;
    /* word-break: break-word; */
}

/* Emojis */

.emoji-container {
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}

.emoji-container > div {
    font-size: 120px;
    font-weight: 100;
    margin: 40px 0;
}

.emoji-container > p {
    font-size: 50px;
    font-weight: 100;
}

/* Footer */

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons-container  a {
    padding: 10px;
    font-size: 25px;
}

#author-signature{
    font-family: 'Gloria Hallelujah', cursive;

}

/* Mobile Optimation */


@media only screen and (max-width: 420px) {

    .app {
        height: 100%;
    }

    .item-container {
        display: block;
    }
    .item-left-container {
        margin-bottom: 20px;
        min-width: 250px;
    }

    .item-right-container {
        width: 100%;
        padding-left: 0;
    }

    .item-icons-container {
        width: 20%;
    }

    .emoji-container > div {
        font-size: 60px;
    }

    .emoji-container > p {
        font-size: 25px;
    }
}



